// bower:scss
// endbower

//@import "variables";
//@import "bootswatch";

body {
  margin-top: 70px;
}

.ng-valid {
}

.ng-invalid {
}

.ng-pristine {
}

.ng-dirty {
}

.ng-invalid-required {
}

.ng-invalid-minlength {
}

.ng-valid-max-length {
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.profile-avatar {
  padding: 0;
  margin: 3px 0 0;
}
