<div class="container">
  <div class="row" ng-show="SignInCtrl.signInError">
    <div class="alert alert-danger" role="alert">
      <strong>Drat!</strong> The system was unable to authenticate you using the supplied credentials.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Sign in to Horse Zone</h1>

      <div class="account-wall">
        <img class="profile-img"
             src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
             alt="">
        <form class="form-signin" novalidate ng-submit="SignInCtrl.signIn();">
          <input ng-model="SignInCtrl.credentials.emailAddress"
                 type="text"
                 class="form-control"
                 placeholder="Email address"
                 required autofocus>
          <input ng-model="SignInCtrl.credentials.password"
                 type="password"
                 class="form-control"
                 placeholder="Password"
                 required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <label class="checkbox pull-left">
            <input type="checkbox" value="remember-me">
            Remember me
          </label>
          <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </form>
      </div>
      <a href="#/account_creation" class="text-center new-account">Create an account </a>
    </div>
  </div>
</div>
