<div class="container well" ng-controller="CustomerLessonsCtrl as customerLessonsCtrl">
  <div class="row">
    <h1>Lessons planner</h1>
  </div>
  <div class="row">
    <!-- Alerts and stuff -->
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>{{ customerLessonsCtrl.currentWeek() }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button class="btn btn-default" ng-click="customerLessonsCtrl.moveToPreviousWeek()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      <button class="btn btn-default" ng-click="customerLessonsCtrl.today()">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </button>
      <button class="btn btn-default" ng-click="customerLessonsCtrl.moveToNextWeek()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="row text-center">
    <span us-spinner="{{ customerLessonsCtrl.spinnerOptions }}" spinner-key="lessons-spinner"></span>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered table-condensed table-striped table-fixedheader">
        <thead>
        <tr>
          <th>Times</th>
          <th class="text-center">
            Sunday
            <br>
            {{ customerLessonsCtrl.currentDay().day(0).format('MMM D') }}
          </th>
          <th class="text-center">
            Monday
            <br>
            {{ customerLessonsCtrl.currentDay().day(1).format('MMM D') }}
          </th>
          <th class="text-center">
            Tuesday
            <br>
            {{ customerLessonsCtrl.currentDay().day(2).format('MMM D') }}
          </th>
          <th class="text-center">
            Wednesday
            <br>
            {{ customerLessonsCtrl.currentDay().day(3).format('MMM D') }}
          </th>
          <th class="text-center">
            Thursday
            <br>
            {{ customerLessonsCtrl.currentDay().day(4).format('MMM D') }}
          </th>
          <th class="text-center">
            Friday
            <br>
            {{ customerLessonsCtrl.currentDay().day(5).format('MMM D') }}
          </th>
          <th class="text-center">
            Saturday
            <br>
            {{ customerLessonsCtrl.currentDay().day(6).format('MMM D') }}
          </th>
        </tr>
        </thead>
        <tbody ng-init="weeklySchedule = customerLessonsCtrl.schedule()">
        <tr ng-repeat="dailySchedule in weeklySchedule">
          <td style="vertical-align: middle;">{{ dailySchedule.time }}</td>
          <td ng-init="sundaySchedule = dailySchedule.sunday">
            <div ng-repeat="availableTrainer in sundaySchedule">
              <button class="btn btn-default btn-sm"
                      ng-click="customerLessonsCtrl.showLessonSignupDialog(availableTrainer, dailySchedule.time, 0)">{{
                availableTrainer.name }}
              </button>
            </div>
          </td>
          <td ng-init="mondaySchedule = dailySchedule.monday">
            <div ng-repeat="availableTrainer in mondaySchedule">
              <button class="btn btn-default btn-sm"
                      ng-click="customerLessonsCtrl.showLessonSignupDialog(availableTrainer, dailySchedule.time, 1)">{{ availableTrainer.name }}</button>
            </div>
          </td>
          <td ng-init="tuesdaySchedule = dailySchedule.tuesday">
            <div ng-repeat="availableTrainer in tuesdaySchedule">
              <button class="btn btn-default btn-sm"
                      ng-click="customerLessonsCtrl.showLessonSignupDialog(availableTrainer, dailySchedule.time, 2)">{{ availableTrainer.name }}</button>
            </div>
          </td>
          <td ng-init="wednesdaySchedule = dailySchedule.sunday">
            <div ng-repeat="availableTrainer in wednesdaySchedule">
              <button class="btn btn-default btn-sm"
                      ng-click="customerLessonsCtrl.showLessonSignupDialog(availableTrainer, dailySchedule.time, 3)">{{ availableTrainer.name }}</button>
            </div>
          </td>
          <td ng-init="thursdaySchedule = dailySchedule.sunday">
            <div ng-repeat="availableTrainer in thursdaySchedule">
              <button class="btn btn-default btn-sm"
                      ng-click="customerLessonsCtrl.showLessonSignupDialog(availableTrainer, dailySchedule.time, 4)">{{ availableTrainer.name }}</button>
            </div>
          </td>
          <td ng-init="fridaySchedule = dailySchedule.sunday">
            <div ng-repeat="availableTrainer in fridaySchedule">
              <button class="btn btn-default btn-sm"
                      ng-click="customerLessonsCtrl.showLessonSignupDialog(availableTrainer, dailySchedule.time, 5)">{{ availableTrainer.name }}</button>
            </div>
          </td>
          <td ng-init="saturdaySchedule = dailySchedule.sunday">
            <div ng-repeat="availableTrainer in saturdaySchedule">
              <button class="btn btn-default btn-sm"
                      ng-click="customerLessonsCtrl.showLessonSignupDialog(availableTrainer, dailySchedule.time, 6)">{{ availableTrainer.name }}</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="lessonModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Confirm scheduled lesson</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">

            <div class="form-group">
              <label for="trainer" class="col-sm-3 control-label">Trainer</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="trainer" readonly
                       value="{{ customerLessonsCtrl.selectedTrainer.name }}">
              </div>
            </div>

            <div class="form-group">
              <label for="date" class="col-sm-3 control-label">Date</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="date" readonly
                       value="{{ customerLessonsCtrl.selectedDate.format('MMMM D, YYYY') }}">
              </div>
            </div>

            <div class="form-group">
              <label for="time" class="col-sm-3 control-label">Time</label>

              <div class="col-sm-9">
                <input type="text" class="form-control" id="time" readonly
                       value="{{ customerLessonsCtrl.selectedTime }}">
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="customerLessonsCtrl.confirmLesson()">Confirm</button>
        </div>
      </div>
    </div>
  </div>

</div>


