<div class="container well" ng-controller="CustomerLessonsCtrl as customerLessonsCtrl">
  <div class="row">
    <h1>Lessons planner</h1>
  </div>
  <div class="row">
    <!-- Alerts and stuff -->
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>{{ customerLessonsCtrl.currentWeek() }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button class="btn btn-default" ng-click="customerLessonsCtrl.moveToPreviousWeek()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      <button class="btn btn-default" ng-click="customerLessonsCtrl.today()">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </button>
      <button class="btn btn-default" ng-click="customerLessonsCtrl.moveToNextWeek()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
        <tr>
          <th>Times</th>
          <th>
            Sunday
            <br>
            {{ customerLessonsCtrl.currentDay().day(0).format('MMM D') }}
          </th>
          <th>Monday
            <br>
            {{ customerLessonsCtrl.currentDay().day(1).format('MMM D') }}
          </th>
          <th>
            Tuesday
            <br>
            {{ customerLessonsCtrl.currentDay().day(2).format('MMM D') }}
          </th>
          <th>
            Wednesday
            <br>
            {{ customerLessonsCtrl.currentDay().day(3).format('MMM D') }}
          </th>
          <th>
            Thursday
            <br>
            {{ customerLessonsCtrl.currentDay().day(4).format('MMM D') }}
          </th>
          <th>
            Friday
            <br>
            {{ customerLessonsCtrl.currentDay().day(5).format('MMM D') }}
          </th>
          <th>
            Saturday
            <br>
            {{ customerLessonsCtrl.currentDay().day(6).format('MMM D') }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
