<div class="container well" ng-controller="ProfileCtrl as profileCtrl">

  <div class="row">
    <h1>Profile</h1>
  </div>
  <div class="row">
    <div class="alert alert-success alert-dismissible"
         role="alert"
         ng-show="profileCtrl.profileSubmitted && profileCtrl.saveSuccessful">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
        class="sr-only">Close</span></button>
      <strong>Success!</strong> Your profile information was successfully saved to the system.
    </div>
    <div class="alert alert-danger alert-dismissible"
         role="alert"
         ng-show="profileCtrl.profileSubmitted && profileCtrl.saveFailed">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
        class="sr-only">Close</span></button>
      <strong>Error!</strong> Your profile information could not be saved to the system.
      If you continue to encounter errors, please let us know here.
    </div>
  </div>
  <div class="row text-center">
    <span us-spinner="{{ profileCtrl.spinnerOptions }}" spinner-key="profile-spinner"></span>
  </div>
  <div class="row">
    <form name="profileForm"
          class="form-horizontal"
          role="form"
          novalidate
          ng-submit="profileCtrl.submitForm(profileForm.$valid)">
      <div class="form-group has-feedback"
           ng-class="{ 'has-error' : profileForm.emailAddress.$invalid && !profileForm.emailAddress.$pristine,
                 'has-success' : profileForm.emailAddress.$valid && !profileForm.emailAddress.$pristine }">
        <label for="emailAddress" class="col-sm-3 control-label">Email</label>

        <div class="col-sm-6">
          <input type="email"
                 class="form-control"
                 name="emailAddress"
                 id="emailAddress"
                 placeholder="joe.smith@mycompany.com"
                 ng-model="profileCtrl.user.emailAddress"
                 aria-describedby="emailAddressInputStatus"
                 ng-required="true"
                 required>
        </div>
        <div class="col-sm-3">
          <span
            ng-show="profileForm.emailAddress.$valid && !profileForm.emailAddress.$pristine">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="emailAddressInputStatus" class="sr-only">(success)</span>
          </span>
          <span
            ng-show="profileForm.emailAddressInput.$invalid && !profileForm.emailAddressInput.$pristine">
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span id="emailAddressInputStatus" class="sr-only">(error)</span>
          </span>
        </div>
      </div>

      <div class="form-group has-feedback"
           ng-class="{ 'has-error' : profileForm.firstName.$invalid && !profileForm.firstName.$pristine,
                 'has-success' : profileForm.firstName.$valid && !profileForm.firstName.$pristine }">
        <label for="firstName" class="col-sm-3 control-label">First name</label>

        <div class="col-sm-6">
          <input type="text"
                 class="form-control"
                 name="firstName"
                 id="firstName"
                 placeholder="Joe"
                 ng-model="profileCtrl.user.firstName"
                 aria-describedby="firstNameInputStatus"
                 ng-required="true"
                 required>
        </div>
        <div class="col-sm-3">
          <span
            ng-show="profileForm.firstName.$valid && !profileForm.firstName.$pristine">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="firstNameInputStatus" class="sr-only">(success)</span>
          </span>
          <span
            ng-show="profileForm.firstName.$invalid && !profileForm.firstName.$pristine">
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span id="firstNameInputStatus" class="sr-only">(error)</span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Last name</label>

        <div class="col-sm-6">
          <input type="text"
                 class="form-control"
                 id="lastName"
                 placeholder="Smith"
                 ng-model="profileCtrl.user.lastName">
        </div>
        <div class="col-sm-3">
          <!-- Error message -->
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default bn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>


