<div class="center row">
  <section>
    <div class="content" data-section-content>
      <div class="row">
        <div class="large-12 columns">
          <div class="signup-panel">
            <p class="welcome">Welcome back!</p>

            <form>
              <div class="row collapse">
                <div class="small-2 columns">
                  <span class="prefix"><i class="fi-mail"></i></span>
                </div>
                <div class="small-10  columns">
                  <input type="text" placeholder="Email">
                </div>
              </div>
              <div class="row collapse">
                <div class="small-2 columns ">
                  <span class="prefix"><i class="fi-lock"></i></span>
                </div>
                <div class="small-10 columns ">
                  <input type="password" placeholder="Password">
                </div>
              </div>
            </form>
            <a href="#" class="button round">Sign in</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div style="height: 200px" class="row">

</div>
