<div class="jumbotron">
  <h1>Welcome to Horse Zone!</h1>
  <p>
    This is a template for a simple marketing or informational website.
    It includes a large callout called a jumbotron and three supporting pieces of content.
    Use it as a starting point to create something more unique.
  </p>
    <p>
      Already have an account?  Click <a href="#/signin">here</a> to sign in.
    </p>
    <p>
      Need an account?  Click <a href="#/register">here</a> to register with the site.
    </p>
</div>



