<div class="jumbotron">
  <h1>Welcome to Horse Zone!</h1>
  <p>
    This is a template for a simple marketing or informational website.
    It includes a large callout called a jumbotron and three supporting pieces of content.
    Use it as a starting point to create something more unique.
  </p>

  <div class="row">
    <div class="col-sm-6 text-center">
      <p>
        Don't have an account yet?
        <br>
        No problem. Let's take care of that right now.
      </p>
      <a class="btn btn-primary btn-lg" role="button" ng-href="#/registration">Register</a>
    </div>
    <div class="col-sm-6 text-center">
      <p>
        If you have your username and password handy,
        <br>
        sign right in.
      </p>
      <a class="btn btn-primary btn-lg" role="button" ng-href="#/signin">Sign in</a>
    </div>
  </div>
</div>



